<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.telegram.notificationbot</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Library/Frameworks/Python.framework/Versions/3.13/bin/python3</string>
        <string>/Users/marinamalykh/Documents/telegram_notification_bot/simple_interactive_bot.py</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/Users/marinamalykh/Documents/telegram_notification_bot/bot_output.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/marinamalykh/Documents/telegram_notification_bot/bot_error.log</string>
</dict>
</plist> 